
.statisticsWindow {
    border: 1px solid black;
}

#statisticsWindow table {
    background-color: white;
    font-size: 15px;
}

#statisticsWindow table tr td:nth-child(1) {
    background-color: #f7f6ea;
    color: #384459;
    width: 350px;
    padding: 2px;
    padding-right: 6px;
    text-align: right;
}

#statisticsWindow table tr td:nth-child(2) {
    background-color: #e0ebff;
    color: #384459;
    width: 150px;
    padding: 2px;
    padding-left: 6px;
    font-weight: bold;
}