html,
		body {
			margin: 0;
			padding: 0;
			background-color: #FFFFCB;
		}

		#header {
			height: 80px;
			background-color: #AFDBD0;
			padding: 10px;
		}

		#visualization {
			padding: 20px;
		}

		.year {
			border: 1px solid black;
			width: 80px;
		}

		.node {
			margin-left: 15px;
		}
		
		

		

	